/*
Copyright (C) 2018 Jean-René Menu This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
ENG : https://www.gnu.org/licenses/gpl.txt
FR : http://www.cecill.info/licences/Licence_CeCILL_V2-fr.html
*/
#element
{
color:white;
background-color:#A1B0D1;
width:80%;
margin-left:20%;
font-weight:bold;
font-size:20px;
font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
text-transform:uppercase;
}

#facture
{
color:white;
background-color:#097855;
width:80%;
margin-left:10%;
padding-left:20px;
padding-right:20px;
padding-top:20px;
font-weight:bold;
font-size:20px;
font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
text-transform:uppercase;
line-height:10px;
}

#support
{
color:black;
#background-color:#213D69;
width:100%;
margin-left:0%;
font-weight:bold;
font-size:20px;
font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
#text-transform:uppercase;
}

#infoprixarticle
{
	display: none;
}

#utilisateur
{
color:white;
background-color:#213D69;
width:100%;
margin-left:0%;
font-weight:bold;
font-size:20px;
font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;

}
.p
{
	text-align:left;
	margin-left:30px;
}

.label
{
	text-align:left;
	margin-left:30px;
}

input, textarea, select, option {
 background-color:#FFF3F3;
 width=150px;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
 }

#checkbox1
{
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
 }
 
#support1
{
color:black;
#background-color:#46B593;
width: 100%;
margin-left:0%;
font-weight:bold;
font-size:20px;
font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
#text-transform: uppercase;
height: 400px;
	overflow: visible;
#border-bottom:1px solid #000;
}

#lignetr1
{
	font-family: Calibri; 
	color: rgb(1, 1, 0);
	font-weight: bold; 
	text-align: left; 
	vertical-align: middle;
	width: 10%;
}

#support1 tr {
	border-left:white;
	border-right:white;
}

#support1 td {
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
}

#support td {

	font-weight: bold;
}

#titre
{
color:white;
background-color:#097855;
width:60%;
margin-left:20%;
font-weight:bold;
font-size:20px;
font-family:Times New Roman, serif;
text-transform:uppercase;
}

#text1
{
color:black;
font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
text-transform:uppercase;
text-align:center;
}


.txtform1 { color:black; float:left; padding-left:6px; margin-right:6px; padding-top:4px;}

.flotte {
float:left;
}

html
{
text-align:center;
font-family: "Century Gothic", Geneva, sans-serif;
}
body
{
margin:auto;
#margin-top:20px;
#padding-top: 10px;


padding-bottom: 120px;
#border:1px solid #000;
padding-left:50px;
}

#menu {
height:50px;
align:center;
}
#menu ul {
margin:0;
padding-left:5px;
list-style-type:none;
text-align:left;
}
#menu li {
float:left;
margin:auto;
font-family: "Century Gothic", Geneva, sans-serif;
border-color:white;
border-right: 2px solid white;
#padding-bottom: 10px;

background-color:#F69730;
}
#menu li a {
display:block;

color:#0f1d0e;
text-decoration:none;
padding:5px;
}
#menu li a:hover {
background-color:#46B593;
color:white;
border-radius: 5px 5px 5px 5px;
}
#menu ul li ul {
display:none;
}
#menu ul li:hover ul {
display:block;
}
#menu li:hover ul li {
float:none;
}
#menu li ul {
position:absolute;
}

#facture  {
	text-align:left;
}

.bodypopup {
margin:auto;
margin-top:0px;

padding-bottom: 0px;
#border:1px solid #000;
padding:50px;
}
.date {
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align:middle;
}


.jours {
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

.tab_numero {
	background:url(../img/icone.jpg);
	background-repeat:no-repeat;
	background-position:bottom right;
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	border-style:solid;
	border-width:2px;
	border-color:#000099;
	border-top:hidden;
}

.tab_cal {
	background:url(../img/entete.jpg);
	background-repeat:no-repeat;
	border-style:solid;
	border-width:2px;
	border-color:#000099;
	border-bottom:hidden;
}

.reserve {
	background-color:#F05026;
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
}
.nonreserve {
	background-color:#00D200;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
}

.liste1 {
	#background-color:#1B9E6F;
	#font-family: Arial, Helvetica, sans-serif;
	#font-size: 12px;
	#color:#FFFFFF;
	height: 20px; 
	width: 212px;
	padding-bottom: 5px;
	display: none;
}

.interligne1 {
	#background-color:#1B9E6F;
	#font-family: Arial, Helvetica, sans-serif;
	#font-size: 12px;
	#color:#FFFFFF;
	height: 10px; 
	width: 212px;
	#padding-bottom: 5px;
	display: none;
}

.bouton1 {
	background-color:#1B9E6F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
}

.boutonresa1 {
	background-color:#FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
	height:30px;
}

.boutonresa2 {
	background-color:#44FF00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
	height:30px;
}

.bouton2 {
	background-color:#1B9E6F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	border-radius: 5px 5px 5px 5px;
}

.resa1 {
	text-align: center;
	vertical-align: middle;

	width: 130px;
	height: 68px;
	border=1px solid;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	font-weight:bold;
	font-size:20px;
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	#text-transform:uppercase;
}

.resanok {
	text-align: center;
	vertical-align: middle;
	background-color: #DB4112;
	width: 130px;
	height: 68px;
	border=1px solid;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	font-weight:bold;
	font-size:20px;
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	#text-transform:uppercase;
}

.resaok {
	text-align: center;
	vertical-align: middle;
	background-color: #20C92C;
	width: 130px;
	height: 68px;
	border=1px solid;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	font-weight:bold;
	font-size:20px;
	font-family: "Century Gothic", Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	#text-transform:uppercase;
}

.bandeauresa1 {
	text-align: center;
	color: rgb(0, 1, 0);
	font-weight: bold;
	background-color: rgb(70, 181, 147);
	width: 140px;
	height: 47px;"
}

.bouton3 {
	background-color:#F69730;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	border-radius: 5px 5px 5px 5px;
}


.descriptif {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-left:10px;
}

.boutonprint {
	background:url(../img/logo-mail.jpg);

}



#formplaning
	{
	border:0px solid #000;
	text-align:left;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:25px;
	padding-right:5px;
	padding-top:20px;
	padding-bottom:20px;
	#background-color:#1B9E6F;
	border-radius: 5px 5px 5px 5px;
	color:black;
	}

#formplaning input {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #000;
	padding-left:5px;
}
#formplaning p {
	margin-bottom:10px;
	margin-top:5px;
}

.myButton {
color: rgb(255, 255, 255);
font-size: 19px;
line-height: 19px;
padding: 11px;
border-radius: 10px;
font-family: Georgia, serif;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
text-transform: none;
background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
box-shadow: rgba(0, 0, 0, 0.67) 5px 5px 15px 5px;
border: 2px solid rgb(28, 110, 164);
display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }

#demotext {
text-shadow: 11px 10px 5px rgba(63,32,18,0.46);
font-weight: bold;
height:30px;
text-align:center;
font-size: 20px;
}

.cModal {
  ...
  visibility: hidden;
}

.cModal:target {
  ...
  visibility: visible;
}