/*
Copyright (C) 2018 Jean-René Menu This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
ENG : https://www.gnu.org/licenses/gpl.txt
FR : http://www.cecill.info/licences/Licence_CeCILL_V2-fr.html
*/
.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #51b692;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.transitions, .logged_in_choice .logged_in_box .book_choice, .logged_in_choice .logged_in_box .book_choice.open, .head .head_container .zone_actuelle, .head .head_container .zone_actuelle.open, .resa_popin, .resa_popin.view, .mask_popin, .mask_popin.view {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hide_desktop {
  display: block; }
  @media (min-width: 768px) {
    .hide_desktop {
      display: none !important; } }

.hide_mobile {
  display: block; }
  @media (max-width: 767px) {
    .hide_mobile {
      display: none !important; } }

.hide {
  display: none !important; }

html, body {
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #000000; }

/* HEADER */
nav {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
  background-color: #51b692;
  color: #ffffff; }
  @media (max-width: 767px) {
    nav.login {
      height: auto; } }
  @media (max-width: 767px) {
    nav.login .logo img {
      width: 80px;
      height: 80px;
      margin-top: calc(15vh - 40px); } }
  @media (max-width: 767px) {
    nav.login .logo {
      max-width: none;
      background-color: #51b692;
      height: auto;
      width: 100%; } }
  @media (max-width: 767px) {
    nav.login .no_login {
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      line-height: 50px;
      display: inline-block; } }
  @media (max-width: 767px) {
    nav {
      height: 60px; } }
  nav .logo {
    position: relative;
    float: left;
    display: inline-block;
    width: 100%;
    height: 70px;
    max-width: 250px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center; }
    @media (max-width: 767px) {
      nav .logo {
        width: 60px;
        height: 60px;
        padding: 10px; } }
    nav .logo img {
      position: relative;
      width: auto;
      height: 50px;
      margin: auto; }
      @media (max-width: 767px) {
        nav .logo img {
          height: 40px;
          width: 40px; } }
  nav .no_login {
    position: absolute;
    float: left;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    height: 70px;
    line-height: 70px;
    font-size: 16px; }
  nav .logged_in {
    position: relative;
    float: left;
    width: calc(100% - 250px);
    text-align: center;
    color: #ffffff;
    height: 70px;
    line-height: 70px;
    font-size: 16px; }
    @media (max-width: 767px) {
      nav .logged_in {
        width: calc(100% - 60px);
        line-height: 60px; } }
    nav .logged_in .user {
      position: relative;
      float: left;
      padding: 15px;
      line-height: 1.2;
      text-align: left;
      color: #ffffff;
      font-size: 16px; }
      nav .logged_in .user p {
        margin: 0; }
      @media (max-width: 767px) {
        nav .logged_in .user {
          display: none; } }
    nav .logged_in .user_infos {
      position: relative;
      float: right;
      display: inline-block; }
      @media (max-width: 767px) {
        nav .logged_in .user_infos {
          width: auto; } }
    
      nav .logged_in .user_infos .resa_nav, nav .logged_in .user_infos .account_nav, nav .logged_in .user_infos .logout_nav, nav .logged_in .user_infos .info_nav {
        position: relative;
        float: left;
        border-left: 1px solid #86ccb3;
        height: 70px;
        text-align: center;
        padding: 0 20px;
        color: #ffffff;
        font-size: 16px; }
        nav .logged_in .user_infos .resa_nav:first-child, nav .logged_in .user_infos .account_nav:first-child, nav .logged_in .user_infos .logout_nav:first-child, nav .logged_in .user_infos .info_nav:first-child {
          border-left: 0; }
        nav .logged_in .user_infos .resa_nav:hover, nav .logged_in .user_infos .account_nav:hover, nav .logged_in .user_infos .logout_nav:hover, nav .logged_in .user_infos .info_nav:hover {
          text-decoration: none;
          background: #03885f; }
        nav .logged_in .user_infos .resa_nav.active, nav .logged_in .user_infos .account_nav.active, nav .logged_in .user_infos .logout_nav.active, nav .logged_in .user_infos .info_nav.active {
          background: #03885f; }
        @media (max-width: 767px) {
          nav .logged_in .user_infos .resa_nav, nav .logged_in .user_infos .account_nav, nav .logged_in .user_infos .logout_nav, nav .logged_in .user_infos .info_nav {
            height: 60px;
            padding: 0 15px; } }
        @media (max-width: 359px) {
          nav .logged_in .user_infos .resa_nav, nav .logged_in .user_infos .account_nav, nav .logged_in .user_infos .logout_nav, nav .logged_in .user_infos .info_nav {
            padding: 0 5px; } }
      nav .logged_in .user_infos .logout_nav {
        background: url(../img/logout.svg) center no-repeat;
        background-size: 30px;
        padding: 10px;
        width: 70px;
        height: 70px; }
        @media (max-width: 767px) {
          nav .logged_in .user_infos .logout_nav {
            width: 60px;
            height: 60px;
            background-size: 20px; } }
        nav .logged_in .user_infos .logout_nav:hover, nav .logged_in .user_infos .logout_nav.active {
          background: #03885f url(../img/logout.svg) center no-repeat;
          background-size: 30px; }
          @media (max-width: 767px) {
            nav .logged_in .user_infos .logout_nav:hover, nav .logged_in .user_infos .logout_nav.active {
              background-size: 20px; } }

.login_form {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 200px auto 0; }
  @media (max-width: 768px) {
    .login_form {
      float: left;
      margin: 40px auto 0; } }
  .login_form .error {
    position: relative;
    float: left;
    width: 100%;
    display: inline-block;
    color: red;
    text-align: center; }
  .login_form label {
    position: relative;
    float: left;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 0; }
  .login_form input[type="text"], .login_form input[type="password"], .login_form input[type="email"] {
    position: relative;
    float: left;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #898989;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px; }
  .login_form input[type="submit"] {
    position: relative;
    float: left;
    display: inline-block;
    background: #51b692;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px 0;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px; }
  .login_form .forgot_passwd {
    position: relative;
    float: left;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    color: #898989 !important;
    text-decoration: underline;
    font-weight: 400 !important; }

.logged_in_choice {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 200px auto 0; }
  @media (max-width: 767px) {
    .logged_in_choice {
      margin: 100px auto 0; } }
  .logged_in_choice .logged_in_box {
    position: relative;
    float: left;
    display: inline-block; }
    .logged_in_choice .logged_in_box h3 {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      font-size: 24px;
      font-weight: 700; }
      @media (max-width: 767px) {
        .logged_in_choice .logged_in_box h3 {
          text-align: center; } }
    .logged_in_choice .logged_in_box .book_choice {
      position: relative;
      float: left;
      width: 100%;
      border: 1px solid #898989;
      background-color: #ffffff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;
      list-style: none;
      height: 40px;
      overflow: hidden;
      margin-top: 20px;
      cursor: pointer; }
      @media (max-width: 767px) {
        .logged_in_choice .logged_in_box .book_choice {
          margin-top: 30px; } }
      .logged_in_choice .logged_in_box .book_choice.open {
        height: auto; }
      .logged_in_choice .logged_in_box .book_choice span.selected {
        position: relative;
        float: left;
        width: 100%;
        height: 20px;
        color: #898989;
        font-style: italic;
        font-size: 16px; }
        .logged_in_choice .logged_in_box .book_choice span.selected::after {
          position: absolute;
          top: -10px;
          right: 0;
          width: 40px;
          height: 40px;
          content: "";
          display: block;
          background: url(../img/dropdown.gif) center no-repeat;
          background-size: 20px; }
      .logged_in_choice .logged_in_box .book_choice li {
        display: inline-block;
        position: relative;
        float: left;
        width: 100%;
        height: 40px;
        padding: 10px 0; }
        .logged_in_choice .logged_in_box .book_choice li:first-child {
          margin-top: 10px; }
    .logged_in_choice .logged_in_box a {
      position: relative;
      float: left;
      display: inline-block;
      margin-top: 20px;
      background: #51b692;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      padding: 10px 0;
      color: #ffffff;
      font-size: 16px;
      text-align: center; }
      @media (max-width: 767px) {
        .logged_in_choice .logged_in_box a {
          margin-top: 30px; } }

/* HEAD  */
.head {
  position: relative;
  float: left;
  display: inline-block;
  width: 100%;
  height: 70px;
  background: #03885f;
  color: #ffffff; }
  @media (max-width: 767px) {
    .head {
      height: auto; } }
  .head .head_container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    height: 70px;
    flex-direction: row;
    justify-content: center;
    /* RESERVATIONS */
    /* MON COMPTE */ }
    @media (max-width: 767px) {
      .head .head_container {
        height: auto;
        flex-direction: column; } }
    @media (max-width: 767px) {
      .head .head_container.account {
        flex-direction: row;
        height: 50px; } }
    .head .head_container .zone_actuelle {
      position: relative;
      float: left;
      max-width: 250px;
      border: 1px solid #898989;
      background-color: #ffffff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;
      list-style: none;
      height: 40px;
      overflow: hidden;
      margin-top: 15px;
      cursor: pointer;
      z-index: 10;
      flex: 1; }
      @media (max-width: 767px) {
        .head .head_container .zone_actuelle {
          max-width: none; } }
      .head .head_container .zone_actuelle.open {
        height: auto; }
      .head .head_container .zone_actuelle span {
        position: relative;
        float: left;
        width: 100%;
        height: 20px;
        color: #898989;
        font-style: italic;
        font-size: 16px; }
        .head .head_container .zone_actuelle span::after {
          position: absolute;
          top: -10px;
          right: 0;
          width: 40px;
          height: 40px;
          content: "";
          display: block;
          background: url(../img/dropdown.gif) center no-repeat;
          background-size: 20px; }
      .head .head_container .zone_actuelle li {
        display: inline-block;
        position: relative;
        float: left;
        color: #000000;
        width: 100%;
        height: 40px;
        padding: 10px 0; }
        .head .head_container .zone_actuelle li:first-child {
          margin-top: 10px; }
    .head .head_container .mois_container {
      position: relative;
      float: left;
      display: flex;
      justify-content: space-between;
      flex: 1; }
      @media (max-width: 767px) {
        .head .head_container .mois_container {
          background-color: #ffffff;
          width: 100%;
          color: #000000;
          border-bottom: 1px solid #898989; } }
      .head .head_container .mois_container .mois {
        position: relative;
        float: left;
        line-height: 70px;
        font-size: 18px;
        order: 1;
        text-align: right; }
        @media (max-width: 767px) {
          .head .head_container .mois_container .mois {
            line-height: 50px;
            order: 2;
            text-align: center; } }
      .head .head_container .mois_container .mois_prec, .head .head_container .mois_container .mois_suiv {
        position: relative;
        float: left;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #ffffff;
        color: white;
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        margin: 15px 0; }
        @media (max-width: 767px) {
          .head .head_container .mois_container .mois_prec, .head .head_container .mois_container .mois_suiv {
            margin: 5px 0;
            border: 1px solid #898989;
            width: 30px;
            height: 30px;
            margin: 10px auto; } }
        .head .head_container .mois_container .mois_prec:hover, .head .head_container .mois_container .mois_suiv:hover {
          text-decoration: none; }
      .head .head_container .mois_container .mois_suiv {
        background: url(../img/suiv.png) center no-repeat;
        background-size: 10px;
        order: 3; }
        @media (max-width: 767px) {
          .head .head_container .mois_container .mois_suiv {
            order: 3;
            background: url(../img/suiv-black.png) center no-repeat;
            background-size: 10px; } }
      .head .head_container .mois_container .mois_prec {
        background: url(../img/prec.png) center no-repeat;
        background-size: 10px;
        order: 2; }
        @media (max-width: 767px) {
          .head .head_container .mois_container .mois_prec {
            order: 1;
            background: url(../img/prec-black.png) center no-repeat;
            background-size: 10px; } }
    .head .head_container .account_tab {
      flex: 250px 0;
      position: relative;
      color: #ffffff;
      text-align: center;
      height: 50px;
      vertical-align: middle;
      margin-top: 20px;
      font-size: 16px; }
      @media (max-width: 767px) {
        .head .head_container .account_tab {
          height: 35px;
          margin-top: 15px; } }
      .head .head_container .account_tab.active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 8px;
        background-color: #51b692;
        width: 100%;
        content: ""; }

.calendar_wrapper {
  position: relative;
  float: left;
  width: 100%;
  overflow: auto;
  height: calc(100% - 140px); }
  @media (max-width: 767px) {
    .calendar_wrapper {
      -webkit-box-shadow: inset -5px 0 20px -9px rgba(0, 0, 0, 0.7);
      box-shadow: inset -5px 0 20px -9px rgba(0, 0, 0, 0.7);
      height: calc(100% - 176px); } }
  .calendar_wrapper .calendar_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .calendar_wrapper .calendar_container {
        overflow: auto;
        width: 130%; } }
    .calendar_wrapper .calendar_container .jours_container {
      position: relative;
      float: left;
      width: 100%;
      height: 50px;
      background: #e5e5e5;
      flex: 1; }
      @media (max-width: 767px) {
        .calendar_wrapper .calendar_container .jours_container {
          width: 100%; } }
      .calendar_wrapper .calendar_container .jours_container .jours {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        background: #e5e5e5; }
        .calendar_wrapper .calendar_container .jours_container .jours .jour {
          position: relative;
          float: left;
          height: 50px;
          padding: 10px;
          text-align: center;
          border-right: 1px solid #898989;
          line-height: 30px;
          flex: 70px; }
          @media (max-width: 767px) {
            .calendar_wrapper .calendar_container .jours_container .jours .jour {
              overflow: hidden;
              white-space: nowrap;
              /* Don't forget this one */
              text-overflow: ellipsis;
              flex: 16.66666667%; } }
          .calendar_wrapper .calendar_container .jours_container .jours .jour:last-child {
            border-right: none; }
    .calendar_wrapper .calendar_container .dates_container {
      position: relative;
      float: left;
      display: block;
      width: 100%;
      margin: 0 auto;
      min-height: 1px;
      flex: 16; }
      @media (max-width: 767px) {
        .calendar_wrapper .calendar_container .dates_container {
          width: 100%; } }
      .calendar_wrapper .calendar_container .dates_container .dates {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        margin: 0 auto; }
        .calendar_wrapper .calendar_container .dates_container .dates .case {
          position: relative;
          float: left;
          display: inline-block;
          border-top: 1px solid #898989;
          border-right: 1px solid #898989;
          cursor: pointer;
          flex: 16.6666667%;
          align-items: center; }
          .calendar_wrapper .calendar_container .dates_container .dates .case.impair {
            background: #e5e5e5; }
          .calendar_wrapper .calendar_container .dates_container .dates .case.pair {
            background: #ffffff; }
          .calendar_wrapper .calendar_container .dates_container .dates .case.no_border {
            border-right: none; }
          .calendar_wrapper .calendar_container .dates_container .dates .case.hide {
            display: none; }
          .calendar_wrapper .calendar_container .dates_container .dates .case .resa1, .calendar_wrapper .calendar_container .dates_container .dates .case .resaok {
            position: relative;
            float: left;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%; }
            .calendar_wrapper .calendar_container .dates_container .dates .case .resa1 .date_jour, .calendar_wrapper .calendar_container .dates_container .dates .case .resaok .date_jour {
              position: relative;
              width: 100%;
              text-align: center;
              line-height: 70px;
              color: #898989;
              font-size: 18px;
              font-weight: bold; }
            .calendar_wrapper .calendar_container .dates_container .dates .case .resa1 .placeslibre, .calendar_wrapper .calendar_container .dates_container .dates .case .resaok .placeslibre {
              position: absolute;
              top: 0;
              right: 0;
              color: #ffffff;
              text-align: right;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 40px 40px 0;
              border-color: transparent #03885f transparent transparent; }
              .calendar_wrapper .calendar_container .dates_container .dates .case .resa1 .placeslibre.full, .calendar_wrapper .calendar_container .dates_container .dates .case .resaok .placeslibre.full {
                border-color: transparent #f2982c transparent transparent; }
              .calendar_wrapper .calendar_container .dates_container .dates .case .resa1 .placeslibre p, .calendar_wrapper .calendar_container .dates_container .dates .case .resaok .placeslibre p {
                position: absolute;
                top: 5px;
                right: -30px;
                color: #ffffff;
                font-size: 12px; }
          .calendar_wrapper .calendar_container .dates_container .dates .case .resaok {
            background: #51b692;
            color: #ffffff; }
            .calendar_wrapper .calendar_container .dates_container .dates .case .resaok p.nbrreserv {
              position: absolute;
              top: 10px;
              left: 10px;
              width: calc(100% - 10px);
              text-align: left; }
              @media (max-width: 767px) {
                .calendar_wrapper .calendar_container .dates_container .dates .case .resaok p.nbrreserv {
                  bottom: 0px;
                  top: auto; } }
            .calendar_wrapper .calendar_container .dates_container .dates .case .resaok .date_jour {
              color: #ffffff; }

/* POPIN RESA */
.resa_popin {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  z-index: 20;
  display: flex;
  flex-direction: column; }
  .resa_popin.view {
    right: 0; }
  .resa_popin .popin_head {
    flex: 70px;
    background: #51b692;
    color: #ffffff; }
    .resa_popin .popin_head h3 {
      position: absolute;
      height: 50px;
      line-height: 50px;
      font-weight: 400;
      text-align: center;
      width: 100%;
      font-size: 16px; }
    .resa_popin .popin_head .close_btn {
      position: relative;
      float: left;
      width: 70px;
      height: 70px;
      color: #ffffff;
      cursor: pointer;
      z-index: 20; }
      .resa_popin .popin_head .close_btn:before {
        position: absolute;
        content: "";
        width: 40px;
        top: 40px;
        left: 30px;
        height: 2px;
        background: #ffffff;
        transform: rotate(45deg); }
      .resa_popin .popin_head .close_btn:after {
        position: absolute;
        content: "";
        width: 40px;
        top: 40px;
        left: 30px;
        height: 2px;
        background: #ffffff;
        transform: rotate(-45deg); }
  .resa_popin .popin_body {
    flex: 40;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    /* MODIF COMPTE */ }
    .resa_popin .popin_body .resa_libre_section {
      flex: 1;
      border-bottom: 1px solid #e5e5e5; }
      .resa_popin .popin_body .resa_libre_section .resa_libre {
        position: relative;
        width: 70%;
        height: 50px;
        line-height: 38px;
        margin: 50px auto;
        background: #f4f4f4;
        border: 1px solid #e5e5e5;
        padding: 5px;
        -webkit-border-radius: 40px;
        border-radius: 40px; }
        @media (max-width: 767px) {
          .resa_popin .popin_body .resa_libre_section .resa_libre {
            width: 80%; } }
        .resa_popin .popin_body .resa_libre_section .resa_libre .nbrlibre {
          position: relative;
          float: left;
          padding: 10px;
          background: #51b692;
          width: 40px;
          line-height: 20px;
          height: 40px;
          text-align: center;
          margin-right: 15px;
          color: #ffffff;
          font-weight: bold;
          -webkit-border-radius: 50%;
          border-radius: 50%; }
    .resa_popin .popin_body .resa_deja {
      flex: auto;
      border-bottom: 1px solid #e5e5e5;
      padding: 30px 40px;
      align-items: center;
      display: flex;
      background: #f4f4f4;
      justify-content: space-around;
      flex-direction: column; }
      .resa_popin .popin_body .resa_deja h4 {
        position: relative;
        float: left;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        flex: 1 1 auto;
        margin: 0; }
        .resa_popin .popin_body .resa_deja h4 span {
          color: #51b692;
          font-weight: bold; }
      .resa_popin .popin_body .resa_deja p.warning {
        width: 100%;
        text-align: center; }
      .resa_popin .popin_body .resa_deja .bureau_resa {
        flex: 1 1 auto;
        position: relative;
        height: 45px;
        width: 80%;
        display: flex;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 40px;
        border-radius: 40px;
        padding: 10px 25px;
        justify-content: space-around;
        margin-bottom: 15px;
        align-items: center; }
        .resa_popin .popin_body .resa_deja .bureau_resa p {
          width: 50%;
          position: relative;
          float: left;
          text-align: left;
          margin: 0;
          line-height: 20px; }
        .resa_popin .popin_body .resa_deja .bureau_resa a {
          width: 50%;
          position: relative;
          float: left;
          text-align: right;
          line-height: 20px;
          color: #898989;
          text-decoration: underline; }
    .resa_popin .popin_body .nbrreserv {
      flex: 1;
      border-bottom: 1px solid #e5e5e5;
      padding: 40px;
      align-items: center;
      display: flex;
      justify-content: space-around; }
      .resa_popin .popin_body .nbrreserv p {
        position: relative;
        float: left;
        width: 50%;
        margin: 0;
        font-size: 16px;
        color: #000000; }
      .resa_popin .popin_body .nbrreserv ul.selectnbr, .resa_popin .popin_body .nbrreserv ul.selectplace {
        position: relative;
        float: left;
        width: 40%;
        list-style: none;
        height: 40px;
        padding: 10px;
        overflow: hidden;
        line-height: 20px;
        cursor: pointer;
        background: #ffffff;
        border: 1px solid #898989;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        .resa_popin .popin_body .nbrreserv ul.selectnbr.open, .resa_popin .popin_body .nbrreserv ul.selectplace.open {
          height: auto; }
        .resa_popin .popin_body .nbrreserv ul.selectnbr span.selected, .resa_popin .popin_body .nbrreserv ul.selectplace span.selected {
          position: relative;
          float: left;
          width: 100%;
          height: 20px;
          color: #898989;
          font-style: italic;
          font-size: 16px; }
          .resa_popin .popin_body .nbrreserv ul.selectnbr span.selected::after, .resa_popin .popin_body .nbrreserv ul.selectplace span.selected::after {
            position: absolute;
            top: -10px;
            right: 0;
            width: 40px;
            height: 40px;
            content: "";
            display: block;
            background: url(../img/dropdown.gif) center no-repeat;
            background-size: 20px; }
        .resa_popin .popin_body .nbrreserv ul.selectnbr li, .resa_popin .popin_body .nbrreserv ul.selectplace li {
          position: relative;
          float: left;
          width: 100%;
          display: inline-block;
          line-height: 40px; }
    .resa_popin .popin_body .resa_valid {
      flex: 4;
      background: #f4f4f4;
      padding: 50px 0; }
      @media (max-width: 767px) {
        .resa_popin .popin_body .resa_valid {
          flex: 0.1;
          background: #f4f4f4;
          padding: 20px 0;
          align-items: center; } }
      .resa_popin .popin_body .resa_valid .cancel {
        position: relative;
        float: left;
        width: 50%;
        color: #898989;
        text-decoration: underline;
        text-align: center;
        line-height: 40px; }
      .resa_popin .popin_body .resa_valid .valider {
        position: relative;
        float: left;
        width: 100px;
        margin-left: calc(25% - 50px);
        background: #51b692;
        color: #ffffff;
        border: none;
        outline: none;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        text-align: center;
        padding: 10px;
        line-height: 20px; }
    .resa_popin .popin_body .infos_popin {
      flex: 1.5;
      flex-direction: column;
      border-bottom: 1px solid #e5e5e5;
      padding: 40px;
      align-items: center;
      display: flex;
      justify-content: center; }
      .resa_popin .popin_body .infos_popin h3, .resa_popin .popin_body .infos_popin label, .resa_popin .popin_body .infos_popin input {
        flex: 1;
        position: relative;
        width: 100%; }
      .resa_popin .popin_body .infos_popin h3 {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        flex: 30px 0;
        border-bottom: 1px solid #898989;
        margin-bottom: 15px; }
      .resa_popin .popin_body .infos_popin label {
        font-size: 14px;
        font-weight: normal;
        color: #000000;
        margin: 0;
        flex: 30px 0; }
      .resa_popin .popin_body .infos_popin input {
        border: 1px solid #898989;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 0 15px;
        flex: 40px 0;
        margin-bottom: 20px;
        min-height: 40px; }

.mask_popin {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 0;
  pointer-events: none; }
  .mask_popin.view {
    opacity: 1;
    pointer-events: all; }

/* ACCOUNT */
.account_container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
  flex-direction: column; }
  @media (max-width: 1024px) {
    .account_container {
      padding: 0 30px; } }
  @media (max-width: 767px) {
    .account_container {
      padding: 0 20px; } }
  .account_container section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px; }
    .account_container section .section_head {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: row;
      padding-bottom: 8px;
      border-bottom: 1px solid #898989; }
      .account_container section .section_head h3 {
        flex: 1;
        text-align: left;
        margin: 0;
        font-weight: bold;
        font-size: 18px; }
      .account_container section .section_head .modif {
        flex: 1;
        text-align: right;
        color: #03885f;
        text-decoration: underline; }
    .account_container section .section_body {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap; }
      @media (max-width: 767px) {
        .account_container section .section_body {
          flex-direction: column; } }
      .account_container section .section_body .block_info {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 50%;
        margin-top: 15px; }
        .account_container section .section_body .block_info .name_info {
          position: relative;
          flex: 1;
          text-align: left;
          color: #898989;
          font-size: 12px;
          margin-bottom: 5px; }
        .account_container section .section_body .block_info .value_info {
          position: relative;
          flex: 1;
          text-align: left;
          color: #000000;
          font-size: 16px; }

.boutonetab
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.boutonetab:hover
{
    text-decoration:underline;
}
.parambnq
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}
.parambnq:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}		  
		  
		  